<?xml version="1.0"?>

<robot name="float_rise">
   <link name="nose_tip_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://float_rise_description/mesh/float_assembly.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
    </link>

    <link name="base_link"/>
    <joint name="base_link" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="nose_tip_link"/>
    </joint>

    <link name="cg_link"/>
    <joint name="cg_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="3.1415926 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="cg_link"/>
    </joint>


    <link name="imu"/>
    <joint name="imu_joint" type="fixed">
        <origin xyz="-0.2 -0.07 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="imu"/>
    </joint>

    <!-- <link name="imu_sf"/>
    <joint name="imu_sf_joint" type="fixed">
        <origin xyz="0.0 0.0 0.17" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="imu_sf"/>
    </joint> -->

    <link name="pressure"/>
    <joint name="pressure_joint" type="fixed">
        <origin xyz="0.00 0.0 -0.02" rpy="3.1415926 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="pressure"/>
    </joint>

    <link name="gps"/>
    <joint name="gps_joint" type="fixed">
        <origin xyz="0.075 0.0 0.635" rpy="3.1415926 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="gps"/>
    </joint>

    <!-- <link name="odometry_sf"/>
    <joint name="odometry_sf_joint" type="fixed">
        <origin xyz="0.0 0.0 0.00" rpy="3.1415926 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="odometry_sf"/>
    </joint> -->

</robot>