<?xml version="1.0"?>

<robot name="race_float">

    <link name="base_link">
    </link>

    <link name="cg_link"/>
    <joint name="cg_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="cg_link"/>
    </joint>

    <link name="imu"/>
    <joint name="imu_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="imu"/>
    </joint>

    <link name="gps"/>
    <joint name="gps_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="gps"/>
    </joint>

    <link name="pressure"/>
    <joint name="pressure_joint" type="fixed">
        <origin xyz="0.00 0.0 -0.02" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="pressure"/>
    </joint>

    <link name="light"/>
    <joint name="light_joint" type="fixed">
        <origin xyz="-0.02 0.03 1.57" rpy="-90.0 0.0 180.0"/>
        <parent link="base_link"/>
        <child link="light"/>
    </joint>

    <link name="tag25"/>
    <joint name="tag1_joint" type="fixed">
        <origin xyz="0.0 0.0 1.22" rpy="0.0 -90.0 -90.0"/>
        <parent link="base_link"/>
        <child link="tag25"/>
    </joint>

    <link name="tag17"/>
    <joint name="tag2_joint" type="fixed">
        <origin xyz="0.0 0.0 2.0" rpy="-90.0 90.0 0.0"/>
        <parent link="base_link"/>
        <child link="tag17"/>
    </joint>

</robot>