<?xml version="1.0"?>

<robot name="race_float">

    <link name="base_link"/>
    <joint name="base_link" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
    </joint>

    <link name="cg_link"/>
    <joint name="cg_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="3.1415926 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="cg_link"/>
    </joint>


    <link name="imu"/>
    <joint name="imu_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="imu"/>
    </joint>


    <link name="pressure"/>
    <joint name="pressure_joint" type="fixed">
        <origin xyz="0.00 0.0 -0.02" rpy="3.1415926 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="pressure"/>
    </joint>

    <link name="light"/>
    <joint name="light_joint" type="fixed">
        <origin xyz="0.075 0.0 0.635" rpy="3.1415926 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="light"/>
    </joint>

    <link name="tag1"/>
    <joint name="tag1_joint" type="fixed">
        <origin xyz="0.075 0.0 0.635" rpy="3.1415926 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="tag1"/>
    </joint>

    <link name="tag2"/>
    <joint name="tag2_joint" type="fixed">
        <origin xyz="0.075 0.0 0.635" rpy="3.1415926 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="tag2"/>
    </joint>

</robot>